#=============================================================================
# basic.toml --- basic configuration example for SpaceVim
# Copyright (c) 2016-2020 Wang Shidong & Contributors
# Author: Wang Shidong < wsdjeg at 163.com >
# URL: https://spacevim.org
# License: GPLv3
#=============================================================================

# All SpaceVim option below [option] section
[options]
    bootstrap_before = 'custom_setup#before'
    # set spacevim theme. by default colorscheme layer is not loaded,
    # if you want to use more colorscheme, please load the colorscheme
    # layer
    colorscheme = 'OceanicNext'
    colorscheme_bg = 'dark'
    # Enable guicolors; OceanicNext needs 24bit true colors
    enable_guicolors = true
    # Disable statusline separator, if you want to use other value, please
    # install nerd fonts
    statusline_separator = 'nil'
    statusline_iseparator = 'bar'
    buffer_index_type = 4
    windows_index_type = 3
    enable_tabline_filetype_icon = true
    enable_statusline_mode = true
    statusline_unicode_symbols = true
    # Enable vim compatible mode, avoid changing origin vim key bindings
    vimcompatible = true
    snippet_engine = 'neosnippet'
    disabled_plugins = ['deoplete.nvim']
    # misc
    relativenumber = false
    autocomplete_method = 'coc'

# Enable autocomplete layer
[[layers]]
    name = 'autocomplete'
    auto_completion_return_key_behavior = 'complete'
    auto_completion_tab_key_behavior = 'cycle'

[[layers]]
    name = 'shell'
    default_position = 'top'
    default_height = 30

[[layers]]
    name = 'git'

[[layers]]
    name = 'VersionControl'

[[layers]]
    name = 'lang#ruby'
    enabled_linters = ['rubocop']

[[layers]]
    name = 'lang#elixir'

[[layers]]
    name = 'lang#javascript'

# [[layers]]
#     name = 'lang#typescript'

[[layers]]
    name = 'lang#html'

[[layers]]
    name = 'lang#css'

[[layers]]
    name = 'lsp'

[[layers]]
    name = 'treesitter'

[[custom_plugins]]
    repo = 'mhartington/oceanic-next'
    merged = false

[[custom_plugins]]
    name = 'chrisbra/csv.vim'
    merged = false

[[custom_plugins]]
    repo = 'neoclide/coc.nvim'
    merged = false

[[custom_plugins]]
    repo = 'NullVoxPopuli/coc-ember'
    merged = false

[[custom_plugins]]
    repo = 'sheerun/vim-polyglot'
    merged = false

[[custom_plugins]]
    repo = 'tpope/vim-abolish'
    merged = false

[[custom_plugins]]
    repo = 'nvim-lua/plenary.nvim'
    merged = false

[[custom_plugins]]
    repo = 'nvim-telescope/telescope.nvim'
    merged = false

[[custom_plugins]]
    repo = 'nvim-telescope/telescope-fzf-native.nvim'
    merged = false

[[custom_plugins]]
    repo = 'nvim-treesitter/nvim-treesitter'
    merged = false
